@import url("https://fonts.googleapis.com/css?family=Roboto:300&display=swap");
.html {
  height: 120%;
  margin: 0px;
  padding: 0px;
}
.modalBody {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  height: 90%;
  margin: 0px;
  margin-left: 5%;
  margin-right: 5%;
}
.center {
  text-align: center;
}
.percText {
  color: #ff3232;
  font-size: 25px;
  padding-top: 0px;
}
button {
  background-color: transparent;
}
.row {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}
.titleLink {
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 1px;
  border-bottom: 2px solid #ffe9e9;
  transition: border 0.3s;
}

.titleLink:hover {
  border-bottom: 2px solid #ff6464;
}

p {
  margin: 0px;
  padding: 0px;
  padding-top: 4px;
}
.paddingTop {
  margin-top: 20px;
}
.liDiv {
  position: relative;
}

.magAfter {
  position: absolute;
  margin-top: 4px;
  width: 30%;
  margin-left: 60%;
  margin-right: 10%;
  /* margin-left: -100%; */
  pointer-events: all;
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 7;
}
.magBefore {
  position: relative;
  margin-top: 4px;
  pointer-events: none;
  width: 30%;
  margin-left: 60%;
  margin-right: 10%;
  transition: opacity 0.5s;
  z-index: 1;
}
.magAfter:hover {
  opacity: 1;
}

.hoverMag:hover + .magBefore {
  opacity: 0;
}
.left {
  width: 36%;
  margin-right: 1%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.right {
  width: 58%;
  margin-left: 5%;
  display: flex;
  align-items: center;
}
.borders {
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

.percentDiv {
  width: 60px;
  height: 60px;
  text-align: center;
  border: 2px solid #ff3232;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.borderBottom {
  border-bottom: 1px solid white;
}
.paddingBottom {
  margin-bottom: 10px;
}
.negPad {
  margin-top: -9px;
}
.titleText {
  font-size: 19px;
}
.triText {
  font-size: 17px;
  margin: 0px;
  padding: 0px;
}

.genText {
  font-size: 15px;
}
.linkInfoLeft {
  width: 38%;
  margin-right: 2%;
}
.linkInfoRight {
  width: 60%;
  align-content: left;
}
.tri {
  width: 33%;
  height: 100%;
  margin-top: 12px;
  margin-bottom: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  transition: opacity 0.5s;
  cursor: pointer;
}
.tri:hover {
  opacity: 0.7;
}

.icon {
  width: 100%;
}
